<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Java代码在线编译及练习系统</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://v3.bootcss.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v3.bootcss.com/examples/justified-nav/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src=".https://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!--<style>-->
<!--    body{min-height:300px;padding-top:90px;background: #f6f6f6;}.container{width:98%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.CodeMirror{min-height:300px;;font-family: Menlo,Monaco,Consolas,"Andale Mono","lucida console","Courier New",monospace;}#textareaCode{}#iframeResult{display: block;overflow: hidden;border:0!important;min-width:100px;width:100%;min-height:300px;background-color:#fff}@media screen and (max-width:768px){#textareaCode{height:300px}.CodeMirror{height:300px;font-family: Menlo,Monaco,Consolas,"Andale Mono","lucida console","Courier New",monospace;}#iframeResult{height:300px}.form-inline{padding:6px 0 2px 0}}.logo h1{background-image:url(/images/logo-domain-white.png);background-repeat:no-repeat;text-indent:-9999px;width:160px;height:39px;margin-top:10px;display:block}-->
<!--</style>-->
<div class="container">

    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead mb-5">
        <h3 class="text-muted text-center" >考试时间：1:00</h3>
        <a href="" th:href="@{/stu/exit}" class="btn btn-primary btn-block" style="
    margin-top: 21px;
    margin-bottom: 21px;
"> 结束考试 </a>
        <nav>
            <ul class="nav nav-justified">
                <li><a href="#" th:href="@{/stu/save/1}">第一题</a></li>
                <li><a href="#" th:href="@{/stu/save/2}">第二题</a></li>
                <li class="active"><a href="#">第三题</a></li>
                <li><a href="#" th:href="@{/stu/save/4}">第四题</a></li>
                <li><a href="#" th:href="@{/stu/save/5}">第五题</a></li>


            </ul>
        </nav>
    </div>


    <main role="main" class="container" style="
    margin-top: 27px;">
        <div>
            <table class="table table-light table-hover table-bordered">
                <tbody>
                <tr>
                    <td >题目描述</td>
                </tr>
                <tr>
                    <td th:text="${session.q_2.getContent()}">题目描述</td>
                </tr>
                <tr>
                    <td >程序输入说明</td>
                </tr>
                <tr>
                    <td th:text="${session.q_2.getInputrule()}">程序输入说明</td>
                </tr>
                <tr>
                    <td>程序输出说明</td>
                </tr>
                <tr>
                    <td th:text="${session.q_2.getOutputrule()}">程序输出说明</td>
                </tr>
                <tr>
                    <td>程序输入样例</td>
                </tr>
                <tr>
                    <td th:text="${session.q_2.getInputexample()}">程序输入样例</td>
                </tr>
                <tr>
                    <td>程序输出样例</td>
                </tr>
                <tr>
                    <td th:text="${session.q_2.getOutputexample()}">程序输出样例</td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>

    <div class="row mt-5" style="
    margin-top: 27px;">

        <form class="form-inline" th:action="@{/stu/test_runcode/3}" method="post">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <div class="row">
                            <!--                            <div class="col-xs-6">-->
                            <!--                                <button type="button" onclick="resetCode()" class="btn btn-default">源代码：</button>-->
                            <!--                            </div>-->
                            <div class="col-xs-6 ">
                                <button type="submit" class="btn btn-success" onclick="submitTryit()" id="submitBTN">
                                    <span class="glyphicon glyphicon-send"></span> 点击运行
                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="panel-body">
			<textarea class="form-control" id="textareaCode1" style="min-height:500px;width: 526px;" name="textareaCode" th:text="${session.codelist[2]}">import java.sql.*;
 public class Test {
	public static void hello(){
		System.out.println("hello ");
	}
}</textarea>

                    </div>
                </div>
            </div>
        </form>



        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form class="form-inline">
                        <button type="button" class="btn btn-default" disabled>运行结果</button>
                    </form>
                </div>
                <div class="panel-body">
                    <div id="iframewrapper" style="min-height:500px">
                        <p  th:utext="${session.contentlist[2]}"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
