<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Java代码在线编译及练习系统</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://v3.bootcss.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v3.bootcss.com/examples/justified-nav/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">

    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
        <h3 class="text-muted">Java代码在线编译及练习系统</h3>
        <nav>
            <ul class="nav nav-justified">
                <li><a href="" th:href="@{/tea/index}">首页</a></li>
                <li><a href="" th:href="@{/tea/commitquestion}">出题</a></li>
                <li><a href="" th:href="@{/tea/commitpaper}">出卷</a></li>
                <li class="active"><a href="#">查看学生考卷</a></li>
                <li><a href="" th:href="@{/tea/scoreexport}">成绩批量导出</a></li>
<!--                <li><a href="" th:href="@{/tea/lookscore}">查看成绩</a></li>-->
                <li><a href="" th:href="@{/tea/repairwd}">修改密码</a></li>
                <li><a href="#" th:href="@{/}">退出系统</a></li>
            </ul>
        </nav>
    </div>

<table class="table table-striped" style="margin-top: 27px;">

    <tbody>
    <tr>
        <th>第一题代码</th>
        <td th:utext="${sscore['code_0']}">1</td>
    </tr>
    <tr>
        <th>第一题运行结果</th>
        <td th:utext="${sscore['content_0']}">Mark</td>
    </tr>
    <tr>
        <th>第二题代码</th>
        <th scope="row" th:utext="${sscore['code_1']}">1</th>
    </tr>
    <tr>
        <th>第二题运行结果</th>
        <td th:utext="${sscore['content_1']}">Mark</td>
    </tr>
    <tr>
        <th>第三题代码</th>
        <th scope="row" th:utext="${sscore['code_2']}">1</th>

    </tr>
    <tr>
        <th>第三题运行结果</th>
        <td th:utext="${sscore['content_2']}">Mark</td>
    </tr>
    <tr>
        <th>第四题代码</th>
        <th scope="row" th:utext="${sscore['code_3']}">1</th>
    </tr>
    <tr>
        <th>第四题运行结果</th>
        <td th:utext="${sscore['content_3']}">Mark</td>
    </tr>
    <tr>
        <th>第五题代码</th>
        <th scope="row" th:utext="${sscore['code_4']}">1</th>
    </tr>
    <tr>
        <th>第五题运行结果</th>
        <td th:utext="${sscore['content_4']}">Mark</td>
    </tr>
    </tbody>
</table>
    <form class="form-inline" th:action="@{'/tea/submitsscore/'+${sscore['ssno']}}" method="post">
        <div class="form-group mx-sm-3 mb-2">
            <label for="score" class="sr-only">给分</label>
            <input type="score" class="form-control" id="score" name="score" placeholder="给分">
        </div>
        <button type="submit" class="btn btn-primary mb-2">submit</button>
    </form>
</div>
</body>
</html>