<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Java代码在线编译及练习系统</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://v3.bootcss.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v3.bootcss.com/examples/justified-nav/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
        <h3 class="text-muted">Java代码在线编译及练习系统</h3>
        <nav>
            <ul class="nav nav-justified">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="" th:href="@{/tea/commitquestion}">出题</a></li>
                <li><a href="" th:href="@{/tea/commitpaper}">出卷</a></li>
                <li><a href="" th:href="@{/tea/lookpaper}">查看学生考卷</a></li>
                <li><a href="" th:href="@{/tea/scoreexport}">成绩批量导出</a></li>
<!--                <li><a href="" th:href="@{/tea/lookscore}">查看成绩</a></li>-->
                <li><a href="" th:href="@{/tea/repairwd}">修改密码</a></li>
                <li><a href="#" th:href="@{/}">退出系统</a></li>
            </ul>
        </nav>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Java</h1>
        <p class="lead">本系统拥有海量Java习题，欢迎广大师生使用本系统！</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">在线练习</a></p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>2019 Java 期末考试通知</h2>
            <!--      <p class="text-danger">As of v9.1.2, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>-->
            <p class="text-danger">请在规定地时间内完成上级考试</p>
            <p>发布时间 ： 2019-7-5</p>
            <p><a class="btn btn-primary" href="#" role="button">查看考试细节 &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>2019 Java 期中考试通知</h2>
            <p class="text-danger">请在规定地时间内完成上级考试</p>
            <p>发布时间 ： 2019-7-4</p>
            <p><a class="btn btn-primary" href="#" role="button">查看考试细节 &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>2019 JavaEE 期末考试通知</h2>
            <p class="text-danger">请在规定地时间内完成上级考试</p>
            <p>发布时间 ： 2019-7-3</p>
            <p><a class="btn btn-primary" href="#" role="button">查看考试细节 &raquo;</a></p>
        </div>
    </div>

    <!-- Site footer -->
    <footer class="footer">
        <p>@2016 上海电力大学 李金洲 javaEE 课程设计项目</p>
        <p>@2016 上海电力大学 李金洲 javaEE 课程设计项目</p>
    </footer>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
